
.trackingmanager {
    background: white;
    border: 1px solid;
    bottom: 32px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .24);
    color: black;
    left: 32px;
    max-height: calc(100vh - 64px);
    max-width: 100%;
    overflow: auto;
    position: fixed;
    transition: .8s transform ease;
    width: 500px;
    z-index: 10000;
}

.trackingmanager.ready {

}

.trackingmanager .header {
    border-bottom: 1px solid;
    padding: 24px 32px;
    text-align: center;
}

.trackingmanager .header-title {
    align-items: center;
    display: inline-flex;
    font-size: 1.5em;
    font-weight: 700;
}

.trackingmanager .header-title svg {
    margin-right: 16px;
}

.trackingmanager .header-title .text + svg {
    margin-left: 16px;
    margin-right: 0;
}

.trackingmanager .intro {
    padding: 24px 32px;
}

/* accept area
========================================================================== */

.tm-submit-all-wrapper {
    margin-bottom: 32px;
    text-align: center;
}

.tm-more-wrapper {
    margin-bottom: 24px;
    text-align: center;
}

#tm_more {
    align-items: center;
    display: inline-flex;
}

#tm_more svg {
    margin-right: 8px;
}

#tm_more .text + svg {
    margin-left: 8px;
    margin-right: 0;
}

/* form area
========================================================================== */

.trackingmanager form {
    display: none;
    padding: 0 32px 24px;
}

.trackingmanager .row_wrapper {

}

.trackingmanager .cookie-row + .cookie-row {
    margin-top: -1px;
}

.trackingmanager .row {
    border-bottom: 1px solid #ccc;
    padding: 5px 20px 5px 5px;
    position: relative;
}

.trackingmanager .row:last-child {
    border-bottom: none;
}

.trackingmanager .widget {
    background: #eee;
    border: 1px solid;
}

.trackingmanager .checkbox_container {
    border: none;
    margin: 0;
    padding: 16px 50px 16px 24px;
}

.trackingmanager .info {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 16px;
    width: 24px;
}

.trackingmanager .info svg {
    height: 100%;
    width: 100%;
}

.trackingmanager .info-close {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.trackingmanager .cookie-row.open .info-open {
    opacity: 0;
}

.trackingmanager .cookie-row.open .info-close {
    opacity: 1;
}

.trackingmanager .submit_container {
    margin-top: 16px;
    text-align: center;
}

.trackingmanager .hint {
    color: #ccc;
    padding: 30px 0 0 0;
    text-align: center;
}

.trackingmanager .hint a {
    color: #999;
    font-size: 12px;
}

/* description
========================================================================== */

.trackingmanager .cookie_desc {
    border: 1px solid;
    border-top: none;
    display: none;
    padding: 16px 24px;
}

.trackingmanager .cookie_desc dl {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 4fr;
}

.trackingmanager .cookie_desc dt {
    margin: 0;
}

.trackingmanager .cookie_desc dd {
    margin-left: 0;
    padding-left: 5px;
}
